.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: blueviolet;
    

}

.form {
    max-width: 1000px;
    margin: 2rem auto;
   
    padding: 2rem;

}

label {
    display: block;
    font-size: 2em;
    font-weight: 400;
    margin: 10px;
}

input {
    display: block;

}

.input {
    width: 600px;
    margin:10px;
    height: 35px;
    
}

#submit {
    transform: translate(20, 1000);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    text-align: center;
    font-size: 3em;
    color: blueviolet;
}
.button{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
}
#submit{
    width: 70px;

}